body {
/* 全体の余白 */
margin: auto 0;

  /* 全体のフォント */
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;

  /* 全体の背景色 */
  background-color: rgb(34 34 34);
}

.h1 {
  text-align: center;
}

.product-toolbar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  border: 3px double aliceblue;
}

.search-area {
  width: 200px;
  line-height: 70px;
  text-align: center;
  border-right: 3px double aliceblue;
}

.search {
  height: 20px;
  margin: 5px;
  text-align: center;
}

.h2 {
  margin: 0;
  line-height: 70px;
}

.sort-area {
  width: 200px;
  line-height: 70px;
  text-align: center;
  border-left: 3px double aliceblue;
}

.sort {
  margin: 0 10px;
  padding: 5px;
  color: aliceblue;
  background-color: rgb(34 34 34);
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 50px;
  padding: 0 10px;
}

.product-item__img {
  width: 80%;
  margin-inline: auto;
}

.product-item__img > a > img {
  width: 100%;
}

.product-item {
  text-align: center;
}

.product-item > h3 {
  margin: 5px 0 5px 0;
}

.product-item > h3 > a:link,a:visited {
  font-size: 0.9em;
  text-decoration: none;
  color: rgba(243, 237, 237, 0.6);
}

.product-item > span {
  color: aliceblue;
  font-size: 1em;
}

@media screen and (max-width: 768px){

  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 50px;
    padding: 0 10px;
  }
  
  .product-item__img {
    width: 80%;
    margin-inline: auto;
  }
  
  .product-item__img > a > img {
    width: 100%;
  }
  
  .product-item {
    text-align: center;
  }
  
  .product-item > h3 {
    margin: 5px 0 5px 0;
  }
  
  .product-item > h3 > a:link,a:visited {
    font-size: 0.9em;
    text-decoration: none;
    color: rgba(243, 237, 237, 0.6);
  }
  
  .product-item > span {
    color: aliceblue;
    font-size: 1.5em;
  }
  
}